@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "Clash Grotesk";
    src: url("../public/font/ClashGrotesk-Semibold.otf") format("opentype");
}
@font-face{
    font-family: "Clash Grotesk";
    src: url("../public/font/ClashGrotesk-Regular.otf") format("opentype");
    font-weight: 400;
} 
@font-face{
    font-family: "Clash Grotesk";
    src: url("../public/font/ClashGrotesk-Medium.otf") format("opentype");
    font-weight: 500;
} 
/*
@font-face{
    font-family: "Clash Grotesk";
    src: url("../public/font/ClashGrotesk-Semibold.otf") format("opentype");
    font-weight: 600;
}
@font-face{
    font-family: "Clash Grotesk";
    src: url("../public/font/ClashGrotesk-Semibold.otf") format("opentype");
    font-weight: 600;
}
@font-face{
    font-family: "Clash Grotesk";
    src: url("../public/font/ClashGrotesk-Semibold.otf") format("opentype");
    font-weight: 600;
} */